:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

main {
    border: 1px solid black;
    position: absolute;
    /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* overflow: auto; */
}

#container {
    width: 800px;
    height: 800px;
    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    /* background-color: black; */
    padding: 1em;
    /* border: 1px solid #ddd; */
    border: 1px solid #111;
    text-align: center;
    border-radius: 15%;
}